html, body {
    height: 100%;
    background-color: lightgrey;
}

.card {
    max-width: 200px;
    min-height: 290px;
    max-height: 300px;
    margin: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.promo {
    max-width: 700px;
    overflow: hidden;
    background: url(imagens/fone-de-ouvido.png), url(imagens/promocao.png);
    background-size: 40px, 50px;
    background-repeat: no-repeat;
    background-position: left 40px center, right 40px center;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.promo:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.pesquisa {
    padding-left: 30px;
    background: url(imagens/busca.png) no-repeat left;
    background-size: 20px;
    background-position: left 5px center;
    background-color: white;
}

.img_card {
    height: 100px; 
    border-radius: 5px; 
    max-width: 150px; 
    min-width: 70px !important;
}

.click {
    cursor: pointer;
    height: 25px;
    filter: invert(27%) sepia(91%) saturate(7452%) hue-rotate(355deg) brightness(91%) contrast(122%);
    transition: opacity 0.5s, border-bottom 0.5s;
    border-bottom: 1px solid transparent;
}

.click:hover {
    opacity: 0.8;
    border-bottom: 1px solid red;
}